p {
    font-family: Georgia, serif;
}
h1 {
    border-style: solid;
    border-color: maroon;
    border-radius: 15px 50px;
    text-align: center;
}
body{
    background-color: gainsboro;
}
.position {
    float: right;
    border-radius: 25px;
    width: 10%;
    height: auto;
    border: 2px solid maroon;
  } 
.classInfo{
    text-align: center;

}
