p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1,h3 {
    background-color: maroon;
    border-radius: 15px 50px;
    text-align: center;
}
body{
    background-color: gainsboro;
}
.position {
    position: absolute;
    left: 550px;
    border-radius: 25px;
  } 
.classInfo{
    text-align: center;

}
