body {
    background-color: gainsboro;
}
h1 {
    border-style: solid;
    border-color: maroon;
    border-radius: 15px 50px;
    text-align: center;
}
#headerAboutMe {
    box-sizing: content-box;
    width: 50%;
    border: 5px solid maroon;
}
p {
    font-family: Georgia, serif;
}
.profilePic {
    float: right;
    border-radius: 25px;
    width: 10%;
    height: auto;
    border: 2px solid maroon;
  } 
#contact {
    text-align: center;
}

